*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    overflow-x: hidden;
}
.navbar-brand{
    font-size:2rem ;
    color:white;
}
.navbar-brand:hover{
    text-decoration: underline;
    color:#FF0060;
}
.header{
    height: 100vh;
    width: 100%;
}
.navbar{
    padding: 15px 18px !important;
    
}
go{
    font-weight: 600;
    color:black;
}
.nav-item{
    margin:0px 15px ;
}
.nav-item .nav-link{
    color:white;
    font-size: 14px;
    font-weight: 500;
    font-size: 1rem;
}
.nav-item .nav-link:hover{
    color:#FF0060;
border:2px solid black;
width:fit-content;
border-radius: 10px;

}
@media(max-width:990px){
    .nav-item .nav-link:hover{
        color:#FF0060;
        border: none;
    }
}
.dropdown-item{
    font-weight: 500;
    }
    .dropdown-item:hover{
color:#FF0060;
    }
.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border:2px solid black;
    color:white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color:#FF0060;
    margin-top: 5px;

}
.btn-navbar:hover{
    box-shadow: 5px 5px  20px #FF0060;
    box-shadow: 5px 5px  60px #FF0060 ;
}
.breadcrumb-item,a{
    text-decoration: none;
    color: black;

}
.head {
    background-color: #FF0060;
    width: 100%;
}

/*header*/






/*header over*/
.c-item{
    height:480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
}
.cardsl{
    display: flex;
    flex-wrap:wrap;
    margin: 50px;
    gap: 25px;
    justify-content: center;

}
.card{
    background-color:whitesmoke;
    border:3px solid black;
}
.card:hover{
    background-color: #FF0060;
    color:white;
    box-shadow: 4px -4px 28px -2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 4px -4px 28px -2px rgba(0,0,0,0.49);
    -moz-box-shadow: 4px -4px 28px -2px rgba(0,0,0,0.49);
}
.card-text{
    text-decoration: none;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    text-decoration: none;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

.testi-head{
    color: #FF0060;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.57);
}

.testi-img{
    border-radius: 50%;
}
/*footer-start*/


.btn-link{
    display: flex;
    transition: .3s;
    color: white;
}

.btn-link:hover{
    letter-spacing: 2px;
    color:#FF0060;
    
}
.btn-social{
    color:black;
    background-color:#FF0060;
}
.btn-social:hover{
    color:#FF0060;
    background-color: black;
}
.footer-img{
    border: 3px solid black;
    border-radius: 5px;
}
.lokesh{
    justify-content: flex-end;
}

/*grow css*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .copyrights{
    display: flex;
    justify-content:space-between;
  }
  @media(max-width:600px){
    .copyrights{
        display: flex;
        flex-wrap: wrap;

    }
  }
@media(max-width:600px){
    .lokesh{
        padding-left: 30px;
    }
}

/*footer end*/